.category-wrapper {
  padding-bottom: 15px;
}

.category-header {
  color: #ffffff;
  width: fit-content;
  background-color: #0eaedd;
  border-radius: 999em;
  padding-left: 10px;
  padding-right: 10px;
}

.category-content {
  padding-left: 4px;
}

.category-row {
  display: flex;
  margin-bottom: 5px;
}

.category-link {
  display: flex;
}

.category-link-date {
  display: flex;
  align-items: center;
  color: cadetblue;
  margin-left: auto;
  font-family: monospace;
}